In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
data = pd.read_csv('AthleteResults.csv')

In [3]:
data.head()

,First_Sex,First_Equipment,First_BodyweightKg,First_Wilks,First_WhereHeld,First_EventDate,First_Competition_experience,Second_Sex,Second_Equipment,Second_BodyweightKg,...,Second_EventDate,Second_Competition_experience,Third_Sex,Third_Equipment,Third_BodyweightKg,Third_Wilks,Third_WhereHeld,Third_EventDate,Third_Competition_experience,birth_year
0,1,3,100.0,418.40,SoPac,2018-01-27,1,1,1,87.20,...,2017-09-30,2,1,3,100.00,413.84,SoPac,2017-09-09,3,1992.0
1,1,3,99.8,493.35,SoPac,2018-01-27,1,1,3,102.60,...,2017-09-09,2,1,3,99.50,500.05,SoPac,2017-07-21,3,1989.0
2,1,3,98.8,334.84,SoPac,2018-01-27,1,1,1,99.30,...,2017-10-07,2,1,3,93.80,340.99,SoPac,2012-11-09,3,1968.0
3,1,3,98.0,395.80,SoPac,2018-01-27,1,1,3,89.80,...,2016-07-08,2,1,3,89.80,399.45,SoPac,2014-11-21,3,1969.0
4,1,3,89.7,380.49,SoPac,2018-01-27,1,1,2,74.39,...,2017-02-23,2,1,2,74.57,306.66,NAmerica,2017-02-18,3,1990.0

In [4]:
data.MeetCountry.unique()
#I should encode by continent:

array(['Australia', 'USA', 'UK', 'Canada', 'England', 'Ireland',
       'Singapore', 'N.Ireland', 'New Zealand', 'Czechia', 'Russia',
       'Norway', 'Sweden', 'Scotland', 'Poland', 'Finland', 'Israel',
       'South Africa', 'Colombia', 'Belarus', 'Spain', 'Kazakhstan',
       'France', 'Malaysia', 'Denmark', 'Wales', 'Iceland', 'Estonia',
       'Serbia', 'Italy', 'US Virgin Islands', 'Brazil', 'Peru',
       'Luxembourg', 'Germany', 'Ukraine', 'Puerto Rico',
       'Cayman Islands'], dtype=object)

In [4]:
data.dtypes

First_Sex                          int64
First_Equipment                    int64
First_BodyweightKg               float64
First_Wilks                      float64
First_WhereHeld                   object
First_EventDate                   object
First_Competition_experience       int64
Second_Sex                         int64
Second_Equipment                   int64
Second_BodyweightKg              float64
Second_Wilks                     float64
Second_WhereHeld                  object
Second_EventDate                  object
Second_Competition_experience      int64
Third_Sex                          int64
Third_Equipment                    int64
Third_BodyweightKg               float64
Third_Wilks                      float64
Third_WhereHeld                   object
Third_EventDate                   object
Third_Competition_experience       int64
birth_year                       float64
dtype: object

In [8]:
data['MeetCountry'] = LabelEncoder().fit_transform(data['MeetCountry'])

In [ ]:
features = data.columns

features = features.drop('Wilks')

y = data.Wilks.values
X = data[features].values

In [ ]:
X

In [ ]:
y

In [ ]:
# Splitting the Data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test - sc.transform(X_test)

In [ ]:
#Initializing Neural Network
classifier = Sequential()

In [ ]:
#Adding Input Layer and hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation ='relu', input_dim = 7))

#Adding a second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

#Adding output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'softmax'))

In [ ]:
#Compiling Neural Network #Research Binary_crossentropy
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
#Fitting our model
classifier.fit(X_train, y_train, batch_size = 100, nb_epoch = 100)

In [ ]:
#Predict test results
y_predict = classifier.predict(X_test)

In [ ]:
y_predict.max()