In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
Couldn't import dot_parser, loading of dot files will not be possible.

In [2]:
data = pd.read_csv('AthleteResults.csv')

In [3]:
data.head()

,MeetID,Sex,Equipment,BodyweightKg,Wilks,AthID,MeetCountry,MeetState,EventDate,Competition_experience
0,1312,0,3,55.25,454.83,83730,Australia,NSW,2018-01-28,1
1,1312,1,3,71.05,313.07,79778,Australia,NSW,2018-01-28,1
2,1312,1,3,80.35,337.01,74739,Australia,NSW,2018-01-28,1
3,1312,0,0,67.40,515.96,60747,Australia,NSW,2018-01-28,1
4,1312,1,3,89.80,353.11,40685,Australia,NSW,2018-01-28,1

In [4]:
data.MeetCountry.unique()
#I should encode by continent:

array(['Australia', 'USA', 'UK', 'Canada', 'England', 'Ireland',
       'Singapore', 'N.Ireland', 'New Zealand', 'Czechia', 'Russia',
       'Norway', 'Sweden', 'Scotland', 'Poland', 'Finland', 'Israel',
       'South Africa', 'Colombia', 'Belarus', 'Spain', 'Kazakhstan',
       'France', 'Malaysia', 'Denmark', 'Wales', 'Iceland', 'Estonia',
       'Serbia', 'Italy', 'US Virgin Islands', 'Brazil', 'Peru',
       'Luxembourg', 'Germany', 'Ukraine', 'Puerto Rico',
       'Cayman Islands'], dtype=object)

In [5]:
# for i in data['MeetCountry']:
#     if i = 'USA'
data['MeetCountry'] = data['MeetCountry'].str.replace('USA', 'NAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('Canada', 'NAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('US Virgin Islands', 'NAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('Brazil', 'NAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('Colombia', 'SAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('Cayman Islands', 'NAmerica')

data['MeetCountry'] = data['MeetCountry'].str.replace('Peru', 'SAmerica')
data['MeetCountry'] = data['MeetCountry'].str.replace('Puerto Rico', 'NAmerica')


data['MeetCountry'] = data['MeetCountry'].str.replace('UK', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('England', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Ireland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Czechia', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Germany', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Norway', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Sweden', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Scotland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Poland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Finland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('N.Ireland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Ukraine', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Luxembourg', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('N.Europe', 'Europe')

data['MeetCountry'] = data['MeetCountry'].str.replace('Iceland', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Estonia', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Serbia', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Italy', 'Europe')

data['MeetCountry'] = data['MeetCountry'].str.replace('Belarus', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Spain', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('France', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Denmark', 'Europe')
data['MeetCountry'] = data['MeetCountry'].str.replace('Wales', 'Europe')

data['MeetCountry'] = data['MeetCountry'].str.replace('Singapore', 'Asia')
data['MeetCountry'] = data['MeetCountry'].str.replace('Russia', 'Asia')
data['MeetCountry'] = data['MeetCountry'].str.replace('Israel', 'Asia')
data['MeetCountry'] = data['MeetCountry'].str.replace('Malaysia', 'Asia')
data['MeetCountry'] = data['MeetCountry'].str.replace('Kazakhstan', 'Asia')
data['MeetCountry'] = data['MeetCountry'].str.replace('South Africa', 'Africa')

data['MeetCountry'] = data['MeetCountry'].str.replace('Australia', 'SoPac')
data['MeetCountry'] = data['MeetCountry'].str.replace('New Zealand', 'SoPac')

In [6]:
data.rename(columns={'MeetCountry':'WhereHeld'})#, axis=1)
drop = ['MeetState', 'EventDate']
data.drop(drop, axis=1, inplace=True)

In [7]:
data.dtypes

MeetID                      int64
Sex                         int64
Equipment                   int64
BodyweightKg              float64
Wilks                     float64
AthID                       int64
MeetCountry                object
Competition_experience      int64
dtype: object

In [8]:
data['MeetCountry'] = LabelEncoder().fit_transform(data['MeetCountry'])

In [ ]:
features = data.columns

features = features.drop('Wilks')

y = data.Wilks.values
X = data[features].values

In [ ]:
X

In [ ]:
y

In [ ]:
# Splitting the Data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test - sc.transform(X_test)

In [ ]:
#Initializing Neural Network
classifier = Sequential()

In [ ]:
#Adding Input Layer and hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation ='relu', input_dim = 7))

#Adding a second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

#Adding output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'softmax'))

In [ ]:
#Compiling Neural Network #Research Binary_crossentropy
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
#Fitting our model
classifier.fit(X_train, y_train, batch_size = 100, nb_epoch = 100)

In [ ]:
#Predict test results
y_predict = classifier.predict(X_test)

In [ ]:
y_predict.max()