In [1]:
from sklearn.externals import joblib
from keras.models import load_model
import pickle
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
LinearModel = pickle.load(open('linear_model.sav', 'rb')) #lr
KnnModel = pickle.load(open('knnModel.sav', 'rb')) #knn

In [3]:
NewBaseModel = load_model('NewBaseModel.h5') #regr
LargerModel = load_model('LargerModel.h5') #lrg_model
baseModel = load_model('baseline.h5') #baseline

The model was built using data from 1975 through January 2018. We will run the competitors in the most recent months through the model and examine the results.

In [4]:
data = pd.read_csv('openpowerlifting2.csv')
meets = pd.read_csv('meets2.csv')
AthID =pd.read_csv('AthTable.csv')
model_data=pd.read_csv('AthleteResults.csv')

In [5]:
model_data.index.name = 'AthID'

predictions['lin_reg']=lr
predictions['knn']= knn
predictions['new_baseline']=regr_pred
predictions['Larger_model']= lrg_pred
predictions['Baseline_model']= baseline

In [6]:
model_data.head()

,First_Sex,First_Equipment,First_BodyweightKg,First_Wilks,First_WhereHeld,First_EventDate,First_Competition_experience,Second_Sex,Second_Equipment,Second_BodyweightKg,...,Second_EventDate,Second_Competition_experience,Third_Sex,Third_Equipment,Third_BodyweightKg,Third_Wilks,Third_WhereHeld,Third_EventDate,Third_Competition_experience,birth_year
AthID,,,,,,,,,,,,,,,,,,,,,
0,1,3,100.0,418.40,SoPac,2018-01-27,1,1,1,87.20,...,2017-09-30,2,1,3,100.00,413.84,SoPac,2017-09-09,3,1992.0
1,1,3,99.8,493.35,SoPac,2018-01-27,1,1,3,102.60,...,2017-09-09,2,1,3,99.50,500.05,SoPac,2017-07-21,3,1989.0
2,1,3,98.8,334.84,SoPac,2018-01-27,1,1,1,99.30,...,2017-10-07,2,1,3,93.80,340.99,SoPac,2012-11-09,3,1968.0
3,1,3,98.0,395.80,SoPac,2018-01-27,1,1,3,89.80,...,2016-07-08,2,1,3,89.80,399.45,SoPac,2014-11-21,3,1969.0
4,1,3,89.7,380.49,SoPac,2018-01-27,1,1,2,74.39,...,2017-02-23,2,1,2,74.57,306.66,NAmerica,2017-02-18,3,1990.0

In [7]:
AthID.drop_duplicates(subset='AthID', keep='first', inplace=True)

In [8]:
##
#df = pd.merge(data, AthID, on='Name')
#df = pd.merge(AthID, data, on='Name')

In [9]:
data.shape

(491167, 17)

In [10]:
meets['year'] = meets['Date'].str.split('/').str.get(2).astype(int)
pd.to_datetime(meets['Date'])
meets.query('year == 2018')# & Date >=3/1/2018')

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName,year
14,14,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018
139,139,apf/1742,APF,2/3/2018,USA,OH,NaN,Ohio Cup,2018
141,141,apf/1801,APF,2/10/2018,USA,SD,NaN,SD State Powerlifting Championships,2018
142,142,apf/1802,APF,2/24/2018,USA,OH,NaN,Buckeye Brawl,2018
143,143,apf/1803,APF,2/17/2018,USA,IL,NaN,Ernie Frantz Squat Invitational,2018
144,144,apf/1804,APF,3/10/2018,USA,MI,Grand Rapids,Michigan State Meet,2018
145,145,apf/1805,APF,3/17/2018,USA,NaN,NaN,Armed Forces Meet,2018
233,233,bp/1801,BP,1/21/2018,UK,NaN,Horncastle,British Equipped Bench Press Championships,2018
234,234,bp/1802,BP,1/20/2018,UK,NaN,Horncastle,British Equipped Powerlifting Championships,2018
235,235,bp/1803,BP,2/18/2018,UK,NaN,Portsmouth,British Classic Bench Press Championships,2018
236,236,bp/1804,BP,2/25/2018,UK,NaN,Manchester,British Women's Classic Powerlifting Champions...,2018
237,237,bp/1805,BP,3/24/2018,UK,NaN,Moulton,British Men's University Powerlifting Champion...,2018
238,238,bp/1806,BP,3/31/2018,UK,NaN,Moulton,British Women's University Powerlifting Champi...,2018
240,240,bpu/1801,BPU,1/20/2018,England,NaN,Folkestone,Alan Collins Cup and South Coast Qualifier,2018
241,241,bpu/1802,BPU,2/10/2018,England,NaN,Rhyl,Wales and North West Qualifier,2018
242,242,bpu/1803,BPU,3/3/2018,Wales,NaN,NaN,South Wales Qualifier,2018
243,243,bpu/1804,BPU,3/17/2018,England,NaN,Salford,Northern Qualifier 2,2018
244,244,bpu/1805,BPU,3/31/2018,England,NaN,Rotherham,East Midlands Qualifier,2018
327,327,cpf/1801,CPF,2/17/2018,Canada,ON,Toronto,Ontario Season Opener,2018
328,328,cpf/1802,CPF,1/27/2018,Canada,NB,Moncton,United Push/Pull,2018
329,329,cpf/1803,CPF,3/3/2018,Canada,ON,Toronto,Spring Sacrifice,2018
330,330,cpf/1804,CPF,3/3/2018,Canada,QC,Longueuil,March Madness Open,2018
331,331,cpf/1805,CPF,3/3/2018,Canada,ON,Toronto,Spring Sacrifice,2018
1311,1311,cpu/2018-01-06-4266a63c,CPU,1/6/2018,Canada,AB,Edmonton,Grit Power Open,2018
1312,1312,cpu/2018-01-14-41376254,CPU,1/14/2018,Canada,BC,Vancouver,UBC New Years' Championship,2018
1313,1313,cpu/2018-01-20-d15c3f26,CPU,1/20/2018,Canada,QC,Jonquiere,10th Saguenay Open,2018
1314,1314,cpu/2018-01-20-da2f37af,CPU,1/20/2018,Canada,SK,Regina,U of S Barbell Open,2018
1315,1315,cpu/2018-02-03-1cd60042,CPU,2/3/2018,Canada,MB,Winnipeg,Brickhouse Power Challenge,2018
1316,1316,cpu/2018-02-03-78ca7108,CPU,2/3/2018,Canada,AB,Grande Prairie,True North Barbell Open,2018
1317,1317,cpu/2018-02-10-04ebc273,CPU,2/10/2018,Canada,ON,Hamilton,Seneca College and University Competition,2018
...,...,...,...,...,...,...,...,...,...
9339,9339,uspa/1078,USPA,3/24/2018,USA,TX,Fort Worth,Clash of the Barbarians,2018
9340,9340,uspa/1079,USPA,3/24/2018,USA,OK,Tulsa,Oklahoma State Championship,2018
9341,9341,uspa/1081,USPA,3/24/2018,USA,CA,Santa Cruz,Santa Cruz Open,2018
9342,9342,uspa/1083,USPA,3/25/2018,USA,NV,Las Vegas,Nevada State Open Championship,2018
9419,9419,wpau/1801,WPAU,3/16/2018,Ukraine,NaN,Lutsk,Ukraine Open Championships,2018
9420,9420,wpc/1801,WPC,2/24/2018,Finland,NaN,Juvalla,National Competition Juvalla,2018
9496,9496,wpc-rus/1801,WPC-RUS,3/16/2018,Russia,NaN,Samara,Samara Championships,2018
9497,9497,wpc-rus/1802,WPC-RUS,3/3/2018,Russia,NaN,Rzhev,Rzhev Cup,2018
9498,9498,wpc-rus/1803,WPC-RUS,2/25/2018,Russia,NaN,Saratov,Saratov Open Championship,2018
9499,9499,wpc-rus/1804,WPC-RUS,2/16/2018,Russia,NaN,Izhevsk,Izhevsk Open Cup,2018
9500,9500,wpc-rus/1805,WPC-RUS,2/11/2018,Russia,NaN,South Forpost,South Forpost Championship,2018
9501,9501,wpc-rus/1806,WPA,2/4/2018,Russia,NaN,NaN,Eastern Europe Championships,2018
9502,9502,wpc-rus/1807,WPC,1/1/2018,Russia,NaN,Togliatti,Epiphany Press Competition,2018
9503,9503,wpc-rus/1808,WPA,1/1/2018,Russia,NaN,Khabarovsk,CIS Championship,2018
9504,9504,wpc-rus/1809,WPA,2/18/2018,Russia,NaN,Tatarstan,Tartastan Open Championship,2018
9505,9505,wpc-rus/1810,WPA,1/1/2018,Russia,NaN,Taganrog,Taganrog Championship,2018
9506,9506,wpc-rus/1811,WPC-RUS,1/26/2018,Russia,NaN,Nizhny Novgorod,Russian Open Cup,2018
9507,9507,wpc-rus/1812,WPC-RUS,2/17/2018,Russia,NaN,Blagoveshchensk,Open National Cup,2018
9569,9569,wrpf/1801,WRPF,1/20/2018,Russia,NaN,Orekhovo-Zuyevo,Orekhovo-Zuyevo City Championship,2018
9570,9570,wrpf/1802,WRPF,1/13/2018,Russia,NaN,Nikel,Strong North Open Tournament,2018
9571,9571,wrpf/1803,WRPF,2/10/2018,Russia,NaN,St Petersburg,Championship of St Petersburg,2018
9572,9572,wrpf/1804,WRPF,2/17/2018,Russia,NaN,Orel,Orel Championships,2018
9573,9573,wrpf/1805,WRPF,2/23/2018,Russia,NaN,Moscow,World Class Tournament,2018
9574,9574,wrpf/1806,WRPF,3/10/2018,Russia,NaN,Stavropol,Northern Caucasus Cup,2018
9575,9575,wrpf/1807,WRPF,3/10/2018,Ukraine,NaN,Simferopol,Might of Atlas Tournament,2018
9576,9576,wrpf/1808,WRPF,3/4/2018,Russia,NaN,Biysk,Biysk Open Cup,2018
9577,9577,wrpf/1809,WRPF,3/3/2018,Russia,NaN,Belgorod,Prince Vladimir Tournament,2018
9578,9578,wrpf/1810,WRPF,2/23/2018,Russia,NaN,Tyumen,Western Siberia Championship,2018
9579,9579,wrpf/1811,WRPF,2/2/2018,Turkey,NaN,Islamabad,Turkey Championships,2018
9587,9587,xpc/1801,XPC,3/2/2018,USA,OH,Columbus,Finals,2018

In [11]:
data.head()

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47

In [12]:
pd.to_datetime(meets['Date'])
twenty18 = meets.query('year==2018')

In [13]:
#take New data, add AthID, drop anyone not in model data.
#add in meetinformation. Drop any not registered for meet we wish to predict.

In [14]:
twenty18 = pd.merge(data, twenty18, on='MeetID')
twenty18.head()

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,...,Place,Wilks,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName,year
0,14,Becca Dison,F,Raw,19.0,Open,55.91,56,NaN,125.0,...,1,403.50,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018
1,14,Andrea Fox,F,Raw,35.0,Open,67.22,67.5,NaN,102.5,...,1,322.46,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018
2,14,Candace Locklear,F,Raw,23.0,Open,74.66,75,NaN,152.5,...,1,378.96,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018
3,14,Jennifer Broome,F,Wraps,35.0,Open,73.84,75,NaN,112.5,...,1,312.03,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018
4,14,Tara Peele,F,Raw,41.0,M1-Mst,73.66,75,NaN,115.0,...,1,307.71,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018

In [15]:
twenty18 = pd.merge(twenty18, AthID, on='Name')

In [16]:
twenty18.head()

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,...,Wilks,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName,year,AthID
0,14,Jennifer Broome,F,Wraps,35.0,Open,73.84,75,NaN,112.5,...,312.03,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018,45743
1,14,Janet Martin,F,Raw,49.0,M2-Mst,113.85,90+,NaN,NaN,...,155.43,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018,43375
2,14,Janet Martin,F,Raw,49.0,M2-Mst,113.85,90+,NaN,NaN,...,50.47,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018,43375
3,14,Janet Martin,F,Raw,49.0,M2-Mst,113.85,90+,NaN,NaN,...,104.97,365strong/1801,365Strong,3/10/2018,USA,NC,Monroe,Enterprise Power Revolution,2018,43375
4,1319,Janet Martin,F,Raw,NaN,Master 2,83.40,84,NaN,110.0,...,288.63,cpu/2018-02-19-ada60117,CPU,2/19/2018,Canada,AB,Calgary,Canadian Championship,2018,43375

In [17]:
twenty18.isnull().sum()

MeetID                0
Name                  0
Sex                   0
Equipment             0
Age                7244
Division            122
BodyweightKg          1
WeightClassKg       152
Squat4Kg          10721
BestSquatKg        1249
Bench4Kg          10707
BestBenchKg         521
Deadlift4Kg       10688
BestDeadliftKg      802
TotalKg             355
Place                 1
Wilks               355
MeetPath              0
Federation            0
Date                  0
MeetCountry           0
MeetState          1140
MeetTown           4533
MeetName              0
year                  0
AthID                 0
dtype: int64

To prep for model, data must be processed-
drop unused columns (also, all third experience is unused)
categorical features must be transformed
    gender
    Equipment
    location (where held)
    Event Date
    Competition Experience
    
---OR---
just create new DF with only new data and add in from model data.

In [18]:
twenty18.columns

Index(['MeetID', 'Name', 'Sex', 'Equipment', 'Age', 'Division', 'BodyweightKg',
       'WeightClassKg', 'Squat4Kg', 'BestSquatKg', 'Bench4Kg', 'BestBenchKg',
       'Deadlift4Kg', 'BestDeadliftKg', 'TotalKg', 'Place', 'Wilks',
       'MeetPath', 'Federation', 'Date', 'MeetCountry', 'MeetState',
       'MeetTown', 'MeetName', 'year', 'AthID'],
      dtype='object')

In [19]:
to_keep = ['AthID', 'Name', 'Date', 'MeetCountry', 'Wilks', 'BodyweightKg', 'Equipment', 'Sex', 'Age', 'year']

In [20]:
twenty18_kept=twenty18[to_keep]
twenty18_kept['duplicates'] = twenty18_kept.groupby(['AthID', 'Date']).cumcount()+1

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
##data['First_WhereHeld'] = LabelEncoder().fit_transform(data['First_WhereHeld'])
##data['Second_WhereHeld'] = LabelEncoder().fit_transform(data['Second_WhereHeld'])
##data['Third_WhereHeld'] = LabelEncoder().fit_transform(data['Third_WhereHeld'])

In [22]:
twenty18_kept.head()

,AthID,Name,Date,MeetCountry,Wilks,BodyweightKg,Equipment,Sex,Age,year,duplicates
0,45743,Jennifer Broome,3/10/2018,USA,312.03,73.84,Wraps,F,35.0,2018,1
1,43375,Janet Martin,3/10/2018,USA,155.43,113.85,Raw,F,49.0,2018,1
2,43375,Janet Martin,3/10/2018,USA,50.47,113.85,Raw,F,49.0,2018,2
3,43375,Janet Martin,3/10/2018,USA,104.97,113.85,Raw,F,49.0,2018,3
4,43375,Janet Martin,2/19/2018,Canada,288.63,83.40,Raw,F,NaN,2018,1

In [23]:
mapping = {'Wraps':3, 'Raw':1, 'Multi-ply': 0, 'Single-ply':2}
twenty18_kept.replace({'Equipment':mapping}, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:3485: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

In [24]:
twenty18_kept = twenty18_kept.query('duplicates==1')

In [25]:

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('USA', 'NAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Canada', 'NAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('US Virgin Islands', 'NAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Brazil', 'NAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Colombia', 'SAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Cayman Islands', 'NAmerica')

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Peru', 'SAmerica')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Puerto Rico', 'NAmerica')


twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('UK', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('England', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Ireland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Czechia', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Germany', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Norway', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Sweden', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Scotland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Poland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Finland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('N.Ireland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Ukraine', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Luxembourg', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('N.Europe', 'Europe')

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Iceland', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Estonia', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Serbia', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Italy', 'Europe')

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Belarus', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Spain', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('France', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Denmark', 'Europe')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Wales', 'Europe')

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Singapore', 'Asia')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Russia', 'Asia')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Israel', 'Asia')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Malaysia', 'Asia')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Kazakhstan', 'Asia')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('South Africa', 'Africa')

twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('Australia', 'SoPac')
twenty18_kept['MeetCountry'] = twenty18_kept['MeetCountry'].str.replace('New Zealand', 'SoPac')

In [26]:
twenty18_kept.head()

,AthID,Name,Date,MeetCountry,Wilks,BodyweightKg,Equipment,Sex,Age,year,duplicates
0,45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,F,35.0,2018,1
1,43375,Janet Martin,3/10/2018,NAmerica,155.43,113.85,1,F,49.0,2018,1
4,43375,Janet Martin,2/19/2018,NAmerica,288.63,83.40,1,F,NaN,2018,1
5,42429,James Corey McManus,3/10/2018,NAmerica,206.72,77.84,1,M,37.0,2018,1
6,67074,Matt Borquez,3/10/2018,NAmerica,280.78,80.38,1,M,29.0,2018,1

In [27]:
twenty18_kept.rename(columns={'MeetCountry':'WhereHeld'}, inplace=True)
#twenty18_kept['WhereHeld']= LabelEncoder().fit_transform(twenty18_kept['WhereHeld'])
twenty18_kept.drop('duplicates', axis=1, inplace=True)

In [28]:
twenty18_kept.head()

,AthID,Name,Date,WhereHeld,Wilks,BodyweightKg,Equipment,Sex,Age,year
0,45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,F,35.0,2018
1,43375,Janet Martin,3/10/2018,NAmerica,155.43,113.85,1,F,49.0,2018
4,43375,Janet Martin,2/19/2018,NAmerica,288.63,83.40,1,F,NaN,2018
5,42429,James Corey McManus,3/10/2018,NAmerica,206.72,77.84,1,M,37.0,2018
6,67074,Matt Borquez,3/10/2018,NAmerica,280.78,80.38,1,M,29.0,2018

We have a few errors in our data stemming from multiple athletes with the same name. I have removed them as I find them.

In [29]:
twenty18_kept.dropna(axis=0, inplace=True)
twenty18_kept['Competition_experience'] = twenty18_kept.groupby(['AthID']).cumcount()+1

twenty18_kept['birth_year'] = twenty18_kept['year'] - twenty18_kept['Age']

twenty18_kept['Sex'] = np.where(twenty18_kept['Sex']=='M', '1', '0')
twenty18_kept.rename(columns={'Date':'EventDate'}, inplace=True)

In [30]:
twenty18_kept = twenty18_kept.query('AthID!=43375')
twenty18_kept = twenty18_kept.query('AthID!= 63523')
twenty18_kept.head()

,AthID,Name,EventDate,WhereHeld,Wilks,BodyweightKg,Equipment,Sex,Age,year,Competition_experience,birth_year
0,45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,0,35.0,2018,1,1983.0
5,42429,James Corey McManus,3/10/2018,NAmerica,206.72,77.84,1,1,37.0,2018,1,1981.0
6,67074,Matt Borquez,3/10/2018,NAmerica,280.78,80.38,1,1,29.0,2018,1,1989.0
7,9600,Avi Bagley,3/10/2018,NAmerica,363.88,79.29,1,1,28.0,2018,1,1990.0
8,45082,Jeff Brown,3/10/2018,NAmerica,387.28,98.52,3,1,33.0,2018,1,1985.0

In [31]:
twenty18_kept.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2769 entries, 0 to 10623
Data columns (total 12 columns):
AthID                     2769 non-null int64
Name                      2769 non-null object
EventDate                 2769 non-null object
WhereHeld                 2769 non-null object
Wilks                     2769 non-null float64
BodyweightKg              2769 non-null float64
Equipment                 2769 non-null int64
Sex                       2769 non-null object
Age                       2769 non-null float64
year                      2769 non-null int64
Competition_experience    2769 non-null int64
birth_year                2769 non-null float64
dtypes: float64(4), int64(4), object(4)
memory usage: 281.2+ KB

In [32]:
# third_meet_df = twenty18_kept.query('Competition_experience >= 3')
# second_meet_df = twenty18_kept.query('Competition_experience >= 2')
recent_meet_df =twenty18_kept.query('Competition_experience >= 1')

In [33]:
print(recent_meet_df.shape, model_data.shape)#, third_meet_df.shape)

(2769, 12) (12254, 22)

In [34]:
model_data = model_data[['First_Sex', 'First_Equipment', 'First_BodyweightKg', 'First_Wilks',
       'First_WhereHeld', 'First_EventDate', 'First_Competition_experience',
       'Second_Sex', 'Second_Equipment', 'Second_BodyweightKg', 'Second_Wilks',
       'Second_WhereHeld', 'Second_EventDate', 'Second_Competition_experience']]
#model_data.columns

In [35]:
column_mapping = {'Second_Equipment': 'Third_Equipment', 'Second_BodyweightKg': 'Third_BodyweightKg', 'Second_Wilks': 'Third_Wilks',
       'Second_WhereHeld': 'Third_WhereHeld', 'Second_EventDate': 'Third_EventDate', 'Second_Competition_experience': 'Third_Competition_experience',
                  'First_Equipment':'Second_Equipment', 'First_BodyweightKg': 'Second_BodyweightKg', 'First_Wilks': 'Second_Wilks', 'First_WhereHeld': 'Second_WhereHeld', 'First_EventDate': 'Second_EventDate'}


model_data.rename(columns=column_mapping, inplace=True)

In [36]:
model_data.head()

,First_Sex,Second_Equipment,Second_BodyweightKg,Second_Wilks,Second_WhereHeld,Second_EventDate,First_Competition_experience,Second_Sex,Third_Equipment,Third_BodyweightKg,Third_Wilks,Third_WhereHeld,Third_EventDate,Third_Competition_experience
AthID,,,,,,,,,,,,,,
0,1,3,100.0,418.40,SoPac,2018-01-27,1,1,1,87.20,355.37,Europe,2017-09-30,2
1,1,3,99.8,493.35,SoPac,2018-01-27,1,1,3,102.60,485.08,SoPac,2017-09-09,2
2,1,3,98.8,334.84,SoPac,2018-01-27,1,1,1,99.30,329.57,SoPac,2017-10-07,2
3,1,3,98.0,395.80,SoPac,2018-01-27,1,1,3,89.80,410.63,SoPac,2016-07-08,2
4,1,3,89.7,380.49,SoPac,2018-01-27,1,1,2,74.39,331.56,NAmerica,2017-02-23,2

In [40]:
recent_meet_df.set_index('AthID')

,Name,EventDate,WhereHeld,Wilks,BodyweightKg,Equipment,Sex,Age,year,Competition_experience,birth_year
AthID,,,,,,,,,,,
45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,0,35.0,2018,1,1983.0
42429,James Corey McManus,3/10/2018,NAmerica,206.72,77.84,1,1,37.0,2018,1,1981.0
67074,Matt Borquez,3/10/2018,NAmerica,280.78,80.38,1,1,29.0,2018,1,1989.0
9600,Avi Bagley,3/10/2018,NAmerica,363.88,79.29,1,1,28.0,2018,1,1990.0
45082,Jeff Brown,3/10/2018,NAmerica,387.28,98.52,3,1,33.0,2018,1,1985.0
87182,Sean Parisi,3/10/2018,NAmerica,327.95,93.17,3,1,20.0,2018,1,1998.0
75032,Nick Murphy,3/10/2018,NAmerica,384.66,92.26,1,1,25.0,2018,1,1993.0
82260,Robert Heaton,3/10/2018,NAmerica,356.92,95.44,1,1,41.0,2018,1,1977.0
24170,Daniel Bowers,3/10/2018,NAmerica,359.81,102.78,3,1,39.0,2018,1,1979.0
48961,John Borek,3/10/2018,NAmerica,307.42,108.41,1,1,52.0,2018,1,1966.0
100266,Zachary Leonardo,3/10/2018,NAmerica,379.09,116.75,3,1,29.0,2018,1,1989.0
24566,Daniel Mix,3/10/2018,NAmerica,366.87,121.56,3,1,37.0,2018,1,1981.0
52889,Joshua Hodsden,3/10/2018,NAmerica,355.16,139.16,3,1,39.0,2018,1,1979.0
45844,Jennifer Huerta,2/10/2018,NAmerica,299.71,67.13,3,0,41.0,2018,1,1977.0
72130,Miranda Ficek,2/10/2018,NAmerica,307.19,88.22,3,0,33.0,2018,1,1985.0
54945,Kala Espinoza,2/10/2018,NAmerica,332.24,59.87,1,0,33.0,2018,1,1985.0
83585,Roxanne Lewis,2/10/2018,NAmerica,298.73,59.87,1,0,49.0,2018,1,1969.0
57476,Kerri Niehaus,2/10/2018,NAmerica,315.08,67.13,1,0,30.0,2018,1,1988.0
55918,Kathy Nordness,2/10/2018,NAmerica,219.16,80.29,1,0,50.0,2018,1,1968.0
27036,Debbie Damminga,2/10/2018,NAmerica,613.98,73.48,0,0,56.0,2018,1,1962.0
89410,Sotiria Spencer,2/10/2018,NAmerica,332.65,48.99,3,0,24.0,2018,1,1994.0
19325,Christel Dodd,2/10/2018,NAmerica,319.30,72.12,3,0,37.0,2018,1,1981.0
56066,Katie Stensland,2/10/2018,NAmerica,318.45,77.79,3,0,30.0,2018,1,1988.0
56066,Katie Stensland,3/10/2018,NAmerica,301.91,76.90,3,0,30.0,2018,2,1988.0
38811,Holly Sullivan,2/10/2018,NAmerica,262.74,88.90,3,0,38.0,2018,1,1980.0
38811,Holly Sullivan,3/24/2018,NAmerica,277.26,97.10,1,0,38.0,2018,2,1980.0
99728,Yvette McKee,2/10/2018,NAmerica,268.21,93.44,3,0,42.0,2018,1,1976.0
85465,Samantha Williams,2/10/2018,NAmerica,359.25,55.34,1,0,22.0,2018,1,1996.0
82707,Robin Miller,2/10/2018,NAmerica,326.65,59.87,1,0,48.0,2018,1,1970.0
54005,Justen Frank,2/10/2018,NAmerica,499.71,109.32,0,1,42.0,2018,1,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2379,Aleksey Ivanov,1/26/2018,Asia,309.66,103.20,1,1,34.0,2018,1,1984.0
97545,Viktor Yashin,1/20/2018,Asia,321.37,84.80,3,1,28.0,2018,1,1990.0
28592,Dmitriy Runov,1/20/2018,Asia,401.38,107.70,3,1,24.0,2018,1,1994.0
97881,Vladimir Sokolov,1/20/2018,Asia,371.46,81.40,2,1,27.0,2018,1,1991.0
39550,Ilya Ushkov,1/20/2018,Asia,165.95,102.20,1,1,41.0,2018,1,1977.0
27288,Denis Astakhov,2/10/2018,Asia,436.60,109.10,1,1,33.0,2018,1,1985.0
97557,Viktoriya Doga,2/10/2018,Asia,396.27,78.20,1,0,35.0,2018,1,1983.0
2386,Aleksey Kotov,2/10/2018,Asia,465.61,136.50,1,1,38.0,2018,1,1980.0
97560,Viktoriya Yakovenko,2/10/2018,Asia,350.43,70.80,3,0,22.0,2018,1,1996.0
33723,Evgeniy Yurshin,2/10/2018,Asia,393.11,81.50,3,1,28.0,2018,1,1990.0
75694,Nikita Romov,2/10/2018,Asia,408.43,119.70,3,1,17.0,2018,1,2001.0
87455,Sergey Luchinskiy,2/10/2018,Asia,166.11,99.60,1,1,36.0,2018,1,1982.0
83041,Roman Abidzhba,2/10/2018,Asia,186.15,145.50,0,1,29.0,2018,1,1989.0
33713,Evgeniy Karpov,2/23/2018,Asia,244.21,71.90,1,1,38.0,2018,1,1980.0
28603,Dmitriy Zaplavskiy,2/23/2018,Asia,245.53,112.50,1,1,33.0,2018,1,1985.0
2413,Aleksey Zhuravlev,2/23/2018,Asia,113.74,108.60,1,1,24.0,2018,1,1994.0
28585,Dmitriy Nenartovich,2/23/2018,Asia,109.09,109.30,1,1,30.0,2018,1,1988.0
65410,Marina Latukhina,2/23/2018,Asia,142.39,55.40,1,0,33.0,2018,1,1985.0
96933,Valeriy Krolevskiy,3/10/2018,Asia,271.32,90.00,1,1,57.0,2018,1,1961.0
94008,Timur Kozyr,3/10/2018,Asia,528.98,94.90,3,1,30.0,2018,1,1988.0
6396,Andrey Chernenko,3/10/2018,Asia,552.25,114.80,3,1,24.0,2018,1,1994.0
7123,Anna Rodnina,3/10/2018,Asia,72.65,81.10,1,0,33.0,2018,1,1985.0
83077,Roman Rodnin,3/10/2018,Asia,167.48,104.70,1,1,42.0,2018,1,1976.0
3109,Alexander Chekachkov,3/10/2018,Europe,92.08,119.50,1,1,47.0,2018,1,1971.0
76448,Olga Kulikova,3/10/2018,Europe,117.93,48.70,1,0,12.0,2018,1,2006.0
39474,Igor Vaskin,2/23/2018,Asia,348.38,96.90,3,1,39.0,2018,1,1979.0
83066,Roman Kazak,2/23/2018,Asia,311.77,88.80,3,1,33.0,2018,1,1985.0
39530,Ilya Kharitonov,2/23/2018,Asia,370.80,96.40,3,1,26.0,2018,1,1992.0
27326,Denis Shishkin,2/23/2018,Asia,456.17,79.40,3,1,35.0,2018,1,1983.0
8484,Artem Reshetnikov,2/23/2018,Asia,118.38,117.80,1,1,28.0,2018,1,1990.0

In [43]:
recent_meet_df = recent_meet_df.add_prefix('First_')
recent_meet_df.rename(columns={'First_AthID': 'AthID', 'First_Name': 'Name'}, inplace=True)
recent_meet_df.head(1)

,AthID,Name,First_EventDate,First_WhereHeld,First_Wilks,First_BodyweightKg,First_Equipment,First_Sex,First_Age,First_year,First_Competition_experience,First_birth_year
0,45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,0,35.0,2018,1,1983.0

In [42]:
recent_meet_df.head(1)

,First_AthID,First_Name,First_EventDate,First_WhereHeld,First_Wilks,First_BodyweightKg,First_Equipment,First_Sex,First_Age,First_year,First_Competition_experience,First_birth_year
0,45743,Jennifer Broome,3/10/2018,NAmerica,312.03,73.84,3,0,35.0,2018,1,1983.0

In [45]:
#recent_meet_df['AthID'].min()
df = pd.merge(model_data, recent_meet_df, on='AthID', left_index=True, right_index=True)

KeyError: 'AthID'

In [ ]:
print(df.shape, recent_meet_df.shape)

In [ ]:
df.columns

In [ ]:
data['First_Rest'] = data['First_EventDate'] - data['Second_EventDate']
data['First_Rest']=data['First_Rest'].dt.days
data['Second_Rest'] = data['Second_Rest'].dt.days